USE [UNCC]
GO
/****** Object:  Table [dbo].[students]    Script Date: 10/30/2025 3:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[MiddleName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[EmailAddress] [varchar](255) NULL,
	[PhoneNumber] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/30/2025 3:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[UserSecret] [nvarchar](100) NULL,
	[UserRole] [nvarchar](100) NULL,
	[isActive] [nchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [UNCC]
GO

INSERT INTO [dbo].[Users]
           ([UserName]
           ,[UserSecret]
           ,[UserRole]
           ,[isActive])
     VALUES
           ('admin','91c2dd7a58c3eeefe6856a6f503d6d69','Admin,User','Y'),
           ('david','91c2dd7a58c3eeefe6856a6f503d6d69','Admin,Student','Y'),
           ('kathy','91c2dd7a58c3eeefe6856a6f503d6d69','User','Y');
GO

